#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.add-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #218838;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.input-field {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

.cancel-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button:hover {
  background-color: #c82333;
}
