/* App.css */

.app-container {
  background-color: #f0f8ff; /* Light Blue Background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #4CAF50; /* Green background for header */
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 2rem;
  background-color: #ffffff; /* White background for body */
}

.form-control {
  border-radius: 10px;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-warning {
  background-color: #5bda2d;
  border: none;
}

.btn-warning:hover {
  background-color: #5bda2d;;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.table {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th {
  background-color: #4CAF50; /* Green table header */
  color: white;
  text-align: center;
}

.table td {
  text-align: center;
}

.d-grid {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-weight: bold;
}

/* Add a hover effect to table rows */
.table tbody tr:hover {
  background-color: #f1f1f1;
}
